# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtualenv
.venv/
venv/

# Airflow
airflow/logs/
*.log

# Data
app/data/
opt/airflow/data/

# Spark
metastore_db/
spark-warehouse/

# Docker
.env

# OS
.DS_Store
Thumbs.db
