# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# ==============================
# Spark / Data Outputs
# ==============================
data/
**/*.parquet
**/*.json
**/*.crc
**/_SUCCESS

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# Airflow
# ==============================
airflow.db
airflow-webserver.pid

# ==============================
# IDE / OS
# ==============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==============================
# Docker
# ==============================
.env
