version: "3.8"

x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: Dockerfile.airflow
  user: "0:0"
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "False"
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "True"
    AIRFLOW__LOGGING__BASE_LOG_FOLDER: /opt/airflow/logs
    PYTHONPATH: "/app/src:/app"
    AIRFLOW__LOGGING__LOG_FORMAT: "[%(asctime)s] {%(filename)s:%(lineno)d} %(levelname)s - %(message)s"
    AIRFLOW__CORE__UNIT_TESTING_MODE: "False"
    AIRFLOW__LOGGING__LOG_LEVEL: "INFO"
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64

  volumes:
    - ./airflow/dags:/opt/airflow/dags:ro
    - ./app:/app
    - airflow_logs:/opt/airflow/logs
    - airflow_data:/opt/airflow/data
    - airflow_app_data:/app/data
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      timeout: 5s
      retries: 5  
      start_period: 10s

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command: -c "
      airflow db migrate &&
      airflow users create --username admin --password admin --firstname lais --lastname marques --role Admin --email lais.teles@hotmail.com 2>/dev/null || true
      "

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully

volumes:
  postgres-db-volume:
  airflow_logs:
  airflow_data:
  airflow_app_data:
